<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About Splurty</h1>
    
    <p>
        Splurty was built by <a target="_blank" href="http://github.com/msloekito">Martin</a>, and aspiring web developer who is on a mission to become professional web developer by January 2016.
    </p>
    <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
  <div class="col-xs-12 col-sm-4">
      <%= image_tag 'nacho.jpg', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 cols-sm-7 col-sm-offset-1">
      <h2 class="text-center">Martin Loekito (not actual picture)</h2>
      <br />
      <p>
          Martin Loekito is an aspiring web developer based in Davis, CA.
      </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
</div>